body {
    display: flex;
    flex-direction: column;
}

.first, .second, .third, .fourth {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 25px;
}

a {
    text-decoration: none;
    color: white;
}

#signup a:hover, .lower .explore:hover, .upper ul li a:hover {
    color: rgb(237, 205, 205);
    background-color: rgb(0, 0, 0);
}

.upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: auto;
    flex: 1 1 0;
    
}

.lower {
    display: flex;
    flex: 3 1 0;
    gap: 50px;
}

h1 {
    font-size: 50px;
    flex: 0 1 auto;
    margin: 0px;
    flex-basis: 0px;
}

h2 {
    margin: 0px;
}

.sub1 {
    display: flex;
    flex-direction: column;
    width: 4000px;
    flex: 3 1 auto;
    justify-content: flex-start;
    gap: 30px;
}

.sub2 {
    display: flex;
    flex: 1 1 auto;
    align-content: center;
    max-height: 80%;
}

.smalltext {
    flex: 0 1 auto;
    margin: 0px;
    font-size: 18px;
    margin-bottom: 30px;
}

.explore {
    background-color: rgb(23, 1, 36);
    max-width: max-content;
    padding: 20px;
    border-radius: 10px;
}

#image6 {
    display: flex;
    justify-content: flex-end;
}

.sub2 #image6 img {
    max-width: 90%;
    flex: 1 1 auto;
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    border-color: rgb(0, 0, 0);
}

#images-texts-container {
    display: flex;
    gap: 60px;
    align-items: baseline;
    flex-wrap: wrap;
}

.second #images-texts-container .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 0;
}

.second #images-texts-container .container img {
    width: 100%;
    height: 30vh;
    object-fit: fill;
    border-radius: 5px;
    flex: 0 1 auto;
}

#header2 {
    margin: 20px 0px;
}

.imagetext {
    text-align: justify;
    font-size: 14px;
}

#sources {
    font-size: 11px;
    align-self: flex-end;
    
}

#quote {
    font-size: 40px;
    font-style: italic;
    text-align: justify;
    margin: 0px;
    flex: 0 1 auto;
}

#author {
    flex: 0 1 auto;
    margin-left: auto;
    font-weight: bold;
    font-size: 20px;
}

#prompt-area {
    flex: 4 1 0;
    display: flex;
}

#prompt {
    display: flex;
    flex: 1 1 0;
    background-color: rgba(23, 0, 37, 0.85);
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 130px 400px;
    justify-content: space-around;
    border-radius: 30px;
    border-style: ridge;
    border-width: 10px;
    
}

#text {
    margin-right: 20px;
}

#biggertext {
    font-size: 18px;
}

#smallertext {
    font-size: 12px;
}

#signup {
    display: flex;
    align-items: center;
    
}

#signup a {
    background-color: rgb(0, 155, 158); 
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

#copyright {
    flex: 1 1 0;
    display: flex;
    text-align: center;
    background-color: rgba(23, 0, 37, 0.85);
    color: white;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.first {
    background-color: rgba(23, 0, 37, 0.85);
    color: white;
    padding: 10px 220px;

}

.second {
    background-color: white;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding: 10px 100px;
}

.third {
    background-color: rgba(43, 1, 95, 0.1);
    justify-content: center;
    padding: 10px 300px;
}

.fourth {
    background-color: white;
}