body {
    display: flex;
    flex-direction: column;
}

.first, .second, .third, .fourth {
    padding: 10px 220px;
    flex: 1 1 auto;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 25px;
}

a {
    text-decoration: none;
    color: white;
}

.upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: auto;
    flex: 1 1 0;
}

.lower {
    display: flex;
    flex: 3 1 0;
    gap: 50px;
}

h1 {
    font-size: 50px;
    flex: 0 1 auto;
    margin: 0px;
    flex-basis: 0px;
}

h2 {
    margin: 0px;
}

.sub1 {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: flex-start;
    gap: 30px;
}

.sub2 {
    flex: 1 1 auto;
}

.smalltext {
    flex: 0 1 auto;
    margin: 0px;
    font-size: 18px;
    margin-bottom: 30px;
}

.explore {
    background-color: rgb(23, 1, 36);
    max-width: max-content;
    padding: 20px;
    border-radius: 10px;
}

#image6 {
    display: flex;
    justify-content: flex-end;
}

.sub2 img {
    max-width: 450px;
    max-height: 450px;
    flex: 1 1 auto;
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    border-color: rgb(0, 0, 0);
}

.imagecontainers {
    display: flex;
    gap: 60px;
}

.second .imagecontainers .container .images img {
    width: 250px;
    height: 200px;
    border-radius: 5px;
}

#header2 {
    margin-top: 20px;
}

.first {
    background-color: rgba(36, 1, 57, 0.8);
    color: white;
    
}

.second {
    background-color: white;
    flex-direction: column;
    gap: 30px;
    justify-content: flex-start;
    align-items: center;
}

.third {
    background-color: rgba(255, 0, 225, 0.1)
}

.fourth {
    background-color: white;
}